.btn-next {
    width: 272px;
    height: 56px;
    margin-left: 870px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 38px;
    margin-bottom: 150px;
    font-family: "Inter";
    font-weight: bold;
}

.btn-sgte {
   display: flex;
}

.container {
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #263238;
}

.formulario {
    background-color: #FFFFFF;
    width: 941px;
    height: 397px;
    border: 1px solid;
    margin: auto;
    margin-top: 150px;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1),
                0px 4px 8px rgba(0, 0, 0, 0.08),
                0px 1px 12px rgba(0, 0, 0, 0.04);
}

.opciones {
   display: flex;
   margin-left: 331px;
   margin-bottom: 15px;
   padding-top: 20px;
}

p {
    margin-top: 62px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #263238;
}

.texto-formulario {
    margin-left: 162px;
    margin-right: 115px;
    font-weight: bold;
}