body {
    background-color: #89B0AE;
}

.btn-start {
    width: 168px;
    height: 53px;
    border-radius: 20px;
    background-color: #89B0AE;
    margin-top: 42px;
}

.contenedor {
    display: flex;
    background-color: #FAF9F9;
    width: 978px;
    height: 427px;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    flex-wrap: none;
    margin: auto;
    border: 1px solid #979797;
    border-radius: 20px;
    margin-top: 172px;
}

h1, h2, h3 {
    color: #89B0AE;
}

.lado-izquierdo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: 1px solid #000000;
    margin-top: 46px;
    margin-bottom: 53px;
    padding-right: 42px;
}

.lado-izquierdo h1 {
    font-size: 96px;
}

.lado-izquierdo h2 {
    font-size: 18px;
}

.lado-izquierdo h3 {
    font-size: 24px;
}

.lado-derecho {
    font-size: 18px;
    margin-right: 86px;
    margin-left: 106px;
    margin-top: 96px;
    margin-bottom: 102px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

p {
    margin-left: 400px;
}